main {
    /* border: 1px solid white; */
    height: auto;
    margin: 100px 10px 50px;
}

@media only screen and (max-width:375.98px) 
{
    main {
        margin: 85px 10px 40px;
    }
}

/*########## Section one ###### */

.section_one {
    margin: 50px 100px 0px;
}

@media only screen and (max-width:1024.98px) 
{
    .section_one {
        margin: 50px 20px;
    }
   
}
@media only screen and (max-width:425.98px) 
{
    .section_one {
        margin: 50px 10px;
    }

    .section_one .animate-character {
        font-size: 50px;
    }
    .section_one .subhead {
        margin-top: 50px !important;
    }
    .section_one .moresub {
        margin-top: 40px;
    }
    .person {
        /* width: 200px;
        height: 200px;
        bottom: -55%; */
        display: none;
    }
    .section_two .me {
        margin: 150px 10px 40px;
    }
}
@media only screen and (max-width:375.98px) 
{
    .section_one {
        margin: 20px 5px;
    }
    .section_one .animate-character {
        font-size: 50px;
    }
    .section_one p {
       font-size: 20px;
    }
    .section_two .me {
        margin: 130px 4px 40px;
    }
    .section_two .about h1, .section_two .others h1 {
        font-size: 40px;
    }
    .section_three .works {
        padding: 10px 0px 0px;
    }
    .section_three .works h1 {
        font-size: 40px;
    }
}
@media only screen and (max-width:320.98px) 
{
    .section_two .about h1, .section_two .others h1 {
        font-size: 30px;
    }
    .section_two .and_more h1 {
        font-size: 30px;
    }
    .section_three .work_container {
        margin-top: 40px;
    }
    .section_four {
        padding: 50px 10px 20px;
    }
    .divide {
        margin-top: 80px;
    }
    .section_five .contact h1 {
        font-size: 30px;
    }
    .section_five .mail_button {
        font-size: 14px;
    }
    .section_four .work_with {
        font-size: 30px;
        margin-bottom: 15px;
    }
}
.section_one h2 {
    font-size: 20px;
    color: rgb(153, 149, 149);
    font-weight: 300;
}
.section_one h1 {
    text-transform: capitalize;
    /* color: #00A3FF; */
    font-size: 55px;
    font-weight: 700;
    margin-top: 15px;
}


/* .section_one h1:hover {
    color: white;
    transform:scale(1); 
    transition: .5s ease-in-out;
    
} */
.section_one .subhead {
    color: white;
    width: 800px;
    font-weight: 300;
    word-spacing: 1.5px;
    font-size: 22px;
}
@media only screen and (max-width:768.98px) 
{
    .section_one .subhead{
        width: auto;
    }
   
}
.subhead span {
    color: #00A3FF;
    font-weight: 500;
}
.moresub {
    width: auto;
    font-weight: 400;
    word-spacing: 1.5px;
    font-size: 17px;
    color: #00A3FF;
}
.more_button {
    border: .6px solid white;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 100px;
    text-decoration-line: none;
    color: white;
    word-spacing: 1.5px;
    font-size: 17px;
    font-weight: 300;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.more_button:hover {
    box-shadow: inset 200px 0 0 0 #00A3FF;
    color: white;
}
.socials {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 110px;
}
.socials img:hover {
    transform:scale(1.1); 
    transition: .3s ease-in-out;
    
}

.animate-character {

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3e12de 0%,
    #f9f9f9 29%,
    #ff1361 67%,
    #2d60b7 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    font-size: 55px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media only screen and (max-width:768.98px) 
{
    .and_more .animate-character2 {
        font-size: 16px;
    }
}


/*########## Section two ###### */
/* .person {
    position: absolute;
    right: 5%;
    transform: rotateY(180deg);
}
@media only screen and (max-width:768.98px) 
{
    .person {
        bottom: -45%;
    }
} */

/*########## Section two ###### */

.me {
    /* border: 1px solid white; */
    height: auto;
    margin: 190px 100px 50px;
}
@media only screen and (max-width:1024.98px) 
{
    .me {
        margin: 100px 20px 50px;
    }
   
}
@media only screen and (max-width:768.98px) 
{
    .me {
        margin: 150px 20px 50px;
    }
}
.about h1{
    font-size: 50px;
    color: #00A3FF; 
    text-transform: capitalize;
    font-weight: 600;
}
.about p {
    color: white;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;

}
.others h1, .and_more h1{
    font-size: 50px;
    color: #00A3FF; 
    text-transform: capitalize;
    font-weight: 600;
    /* text-align: right; */
}
.others p {
    color: white;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    /* text-align: right; */

}

.and_more {
    text-align: center;
    margin-top: 150px;
}
@media only screen and (max-width:425.98px) 
{
    .and_more {
        margin-top: 80px;
    }
}
.and_more h1{
    font-size: 40px;
    color: rgb(153, 149, 149);
    margin-bottom: 30px;
}
.and_more p {
    color: white;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    margin-top: 30px;
    word-spacing: 1.5px;
    /* text-align: justify; */
}

.and_more i:hover {
    transform: scale(1.2); 
    transition: .3s ease-in-out;
}

.and_more i {
    font-size: 24px;
    color: #00A3FF;
    
}
.and_more span {
    font-size: 17px;
    color: #00A3FF;
    font-weight: bold;
}


hr {
    /* width: auto; */
    height: 4px;
    background-color: #00A3FF;
    
    width: 0;
    position: relative;
    margin: 30px auto;
    margin-top: 130px;
    animation: separator-width 5s ease-out infinite;
}


@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-character2 {

    /* text-transform: uppercase; */
   background-image: linear-gradient(
     -225deg,
     /* #3e12de 0%, */
     #f9f9f9 39%,
     #00A3FF 130%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   /* text-fill-color: transparent; */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
     font-size: 55px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }
 

        
/*########## Section three ###### */

.works {
    height: auto;
    margin: 100px 10px 50px;
    padding: 100px 0px 40px;
    /* border: 1px solid white; */
}
.works h1 {
    font-size: 50px;
    color: #00A3FF; 
    text-transform: capitalize;
    font-weight: 600;
}

.work_container {
    margin-top: 70px;
    /* border: 1px solid white; */
    height: auto;
    
    width: 100%;
}
.more {
    background-color: transparent;
    /* border: .6px solid white; */
    border: none;
    border-bottom: 2px solid white;
    width: 130px;
    padding: 7px 25px;
    margin-top: 100px;
    margin: auto;
    display: block;
    /* text-align: center; */
    text-decoration-line: none;
    color: white;
    word-spacing: 1.5px;
    font-size: 16px;
    font-weight: 500;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.more:hover {
    box-shadow: inset 200px 0 0 0 #00A3FF;
    border-radius: 5px;
    color: white;
}


/*########## Section four ###### */


.section_four {
    padding: 100px 10px;

   
}
.partners {
    /* border: 1px solid white; */
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px 0px;
    
}
.partners ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    /* animation: slide 10s linear infinite; */
}
@media only screen and (max-width:768.98px) 
{
    .partners ul{
        width: 200%;
    }
}
.primary {
    animation: primary 15s linear infinite;
}
  
.secondary {
    animation: secondary 15s linear infinite;
}

@keyframes primary {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes secondary {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}


.partners ul li img {
    width: 110px;
    padding-right: 20px;
    filter: brightness(30%);
    
    /* animation: primary 3s linear infinite; */
    
}
.partners ul li img:hover {
    transition: none;
    transform: none;
}
.section_four h3 {
    text-align: center;
    color: #00A3FF;
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 40px;
}
@media only screen and (max-width:425.98px) 
{
    .section_four {
        padding: 100px 10px 30px;
       
    }
}



/*########## Section five ###### */

.contact {
    margin: 50px 10px 50px;
    padding: 50px 0px 60px;
    text-align: center;
}
@media only screen and (max-width:768.98px) 
{
    .contact {
        margin: 0px;
    }
}
.contact h1 {
    font-size: 40px;
    color: #00A3FF; 
    font-weight: 600;
}
.contact p {
    color: white;
    width: 60%;
    margin: auto;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}
@media only screen and (max-width:768.98px) 
{
    .contact p {
        width: auto;
    }
}
.contact p i {
    font-weight: bolder;
}

.mail_button {
    background-color: transparent;
    border: .6px solid white;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 100px;
    text-decoration-line: none;
    color: white;
    word-spacing: 1.5px;
    font-size: 17px;
    font-weight: 300;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.mail_button:hover {
    box-shadow: inset 200px 0 0 0 #00A3FF;
    color: white;
}

